.contaner
 {
 background-color: #F6F6F6;
}
.kurs{
    color: black;
}
.paragraf
{
    background-color: #F6F6F6;
}
.small{
    background-color: #F6F6F6;
} 
.anordert{
    background-color: #F6F6F6; width: 33.3%;
}
.oyna{
    background-color: #F6F6F6;list-style:none; width: 33.3%;
}
.oyna3{
    background-color: #F6F6F6; width: 33.3%;
}
li{
    list-style:none;
}