.contaner
 {
color:#F6F6F6
}
.kurs{
    color: black;
}
.paragraf
{
    background-color: #F6F6F6;
}
.small{
    background-color: #F6F6F6;
} 
.anordert{
    background-color: #F6F6F6;
}
.oyna{
    background-color: #F6F6F6;list-style:none;
}

