@font-face {
    font-family: 'Rubik';
    src: url(./assets/font/Rubik-Regular.woff2) format('woff2'),
        url(./assets/font/Rubik-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(./assets/font/Rubik-Medium.woff2) format('woff2'),
        url(./assets/font/Rubik-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* ::after, ::before *{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
